/*全体のスタイル*/

.container {
    width: 100%;
    height: 100vh;
    background: #FF9999;
    display: flex;
    justify-content: center; /* 子要素を水平方向に中央揃え */
    align-items: center; /* 子要素を垂直方向に中央揃え */
}

/* music_playerのスタイル*/
.music-player{
    background:#FFDDFF;
    width: 500px;
    height: 800px;
    padding:25px 35px;
    border-radius: 3%;
    box-shadow:12px 17px 10px 4px rgba(0, 0, 255, .2);
    border: 4px solid rgba(28, 33, 187, 0.2);
}

.music-player i {
    font-size: 35px;
    margin-bottom: 20px
}

/** mainのスタイル**/

img{
    display: block;
    object-fit: cover;
    height: 400px;
    width:400px;
    margin: 0 auto;
    border-radius: 3%;
    box-shadow:10px 10px 10px 4px rgba(0, 0, 255, .2);
    background-color: rgb(114, 111, 111);
}

#audio {
    display: none;
}
.song-name {
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.artist-name {
    font-size: 1.5rem;
    text-align: center;
    margin:0;
}


/*music_barのスタイル*/
.music-bars{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.two-bars {
    
}

.times {
    display: flex;
    justify-content: space-between;
}
#range{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

/*controleのスタイル*/
.controle {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.fa-solid.fa-play{
    padding-top: 2px;
    font-size: 29px;
}

#repeat, #shaffle{
    font-size: 30px;
}

.center_button{
    display: flex;
    align-items: flex-start;
    font-size: 50px;
}
#start_pause {
    margin-right: 60px;
    margin-left: 60px;
}

#repeat {
    margin-top: 4px;
    opacity: 0.5;
}

#repeat-on{
    margin-top: 4px;
    opacity: 1;
    font-size: 30px;
}

#shuffle {
    opacity: 0.5;
}

#shuffle-on{
    opacity: 1;
}

